@mixin button($textColor: $white-color, $backgroundColor:$primary-color)
{
    display: inline-block;
    width: fit-content;
    padding: 0.75rem 1rem;
    background: $backgroundColor;
    color:$textColor ;
    cursor: pointer;
    transition: all 400ms ease;


    &:hover
    {
        background: lighten($backgroundColor, 80%);  //background:$white-color);
        color: $black-color;
    }
}

@mixin button2($textColor: $white-color, $backgroundColor:$primary-color)
{
    display: inline-block;
    width: fit-content;
    padding: .75rem 4rem;
    background: $backgroundColor;
    color:$textColor ;
    cursor: pointer;
    transition: all 400ms ease;


    &:hover
    {
        background: lighten($backgroundColor, 80%);  //background:$white-color);
        color: $black-color;
    }
}


// common background color 

@mixin gradientBackground 
{
    background: linear-gradient(135deg,$primary-color,$primary-color-varient);
    color:$white-color;
}

@mixin gradientBackground2 
{
    // background: linear-gradient(195deg,$primary-color-varient,$primary-color);
    background: transparent;
    color:$white-color;
}